@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
}
:root{
  --red:#d01c28;
  --gray:#2e2e2e;
}
*{
  margin: 0;
}
nav {
  padding: 0 8px;
  display:flex ;
  height: 72px;
  align-items: center;
  justify-content: space-between;


}
.container{
  max-width: 1280px;
  margin: 0 auto;
  
}
 
nav ul{
  display: flex;
  list-style-type:none ;
  gap: 24px;
  font-weight: 500;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
  font-size: 48px;
  font-weight: 800px;
  margin-top: 10px;
}
p{
  font-weight: 500px;
  margin-top: 10px;
}
.primary-btn{
  margin-top: 15px;
  padding: 18px,10px;
  background-color: black;
  color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
  min-width: 220px;
  font-size: 16px;
  height: 50px;
  justify-content: center;
  cursor: pointer;
}
.C_form{
  display: flex;
  gap: 24px;

}
.outline-btn{
  padding: 18px 10px;
  margin-top: 25px;
  border: 1px solid black;
  background-color: white;
  color: black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
  min-width: 220px;
  font-size: 16px;
  height: 50px;
  justify-content: center;
  width: 50%;
  cursor: pointer;
}
.form-control{
  display: flex;
  flex-direction: column;
  width: 95%;
  position: relative;
  margin-top: 30px;
}
.form-control input{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 40px;
  padding:0 8px ;
}
.form-control label{
  position: absolute;
  top: -14px;
  left: 10px;
  font-size: 14px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 0 10px;
  background-color: white;
  background-color: 1px solid black;
}
